@media (max-width:1000000000000px){
    .prompt div ul div li{
        padding: 3px;
        font-size: 16px;
    }
    .prompt div ul {
        width: 15vw;
    }
    .dialog{
        width: 62vw;
        display: flex;
        flex-direction: column;
    }
    .ai_img{
        width: 20px;
        height: 20px;
        background-color: transparent;
        margin-left: 1px;
    }
    .prompt_block{
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-right: 10px;
        height: 80vh;
        width: 19vw;
    }
    .prompt{
        width: 15vw;
        
    }
    .user_window{
        width: 90%;
        margin-top: 7px;
        background-color: rgb(255, 255, 255);
        height: 100%;
        border-radius: 5%; 
        height: 80vh;
        overflow: scroll;
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
    }
    .dialog_window{  
        width: 66vw;
    }
}
@media(max-width:1630px){
    .dialog_window{  
        width: 62vw;
    }
}
@media (max-width:1200px){
    .dialog{
        width: 90vw;
        
    }
    .prompt_block{
        width: 23vw;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-right: 10px;
        height: 80vh;
    }
    .user_window{
        width: 90%;
        margin-top: 7px;
        background-color: rgb(255, 255, 255);
        height: 100%;
        border-radius: 5%; 
        height: 80vh;
        overflow: scroll;
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        
    }
    .dialog_window{
        width: 100%;
    }
}
@media (max-width:1000px){
    .dialog{
        width: 600px;
       
    }
    .user_window{
        width: 400px;
    }
    .dialog_window{
        width: 100%;
    }
    .prompt_block{
        width: 16vw;
    }
    .prompt div ul div li{
        font-size: 16px;
        width:17vw  ;
    }
    .dialog div{
        font-size: 14px;
    }
}
@media (max-width:768px){
    .dialog div{
        font-size: 9px;
    }
    .user_window{
        width: 300px;
    }
    .ai_img{
        width: 15px;
        height: 15px;
        
    }
    .dialog{
        width: 400px;
    }
    
    .dialog_window{
        width: 97%;
    }
    .prompt span{
        font-size: 12px;
        width: 13vw;
    }
    .prompt_block{
        width: 16vw;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-right: 10px;
        height: 80vh;
    }
    .prompt div ul div li{
        font-size: 12px;
        width:13vw  ;
    }
}
@media (max-width:480px){
    .dialog div{
        font-size: 9px;
    }
    .ai_img{
        width: 8px;
        height: 8px;
        background-color: transparent;
        margin-left: 1px;
    }
    .prompt_name{
        font-size: 12px;
    }
    .dialog{
        width: 90vw;
        
    }
    .user_window{
        width: 46vw;
    }
    .prompt div ul div li{
        font-size: 9px;
        width: 23vw  ;
    }
    .prompt span{
        font-size: 10px;
        width: 25vw;
    }
    .prompt_block{
        width: 25vw;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-right: 10px;
        height: 80vh;
    }
}

.dialog_window{
    display: flex;
    gap: 1%;
    height: min-content;
}
.dialog_input{
    width: 60%;
    height: 100%;
    background-color: #dfd6d7;
    border: 1px solid firebrick;
}

.input_wrapper{
    width: 100%;
    display: flex;
   align-items: center;
   justify-content: center;
    gap: 10px;
    margin-bottom: 3%;
    flex-direction: row;
}
.input_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: min-content;
    height: 100%;
    font-size: 11px;
    border: none;
    background-color: white;
}



.prompt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    word-break: break-all
}

.prompt_name{
    display: flex;
    justify-content: center;
    font-size: large;
    color: black;
}
.window_input{
    display: flex;
    flex-direction: column;
}
